asgiref==3.5.0
boto3==1.23.7
botocore==1.26.7
brotlipy==0.7.0
certifi==2022.5.18.1
cffi==1.15.0
cryptography==37.0.1
dj-database-url==0.5.0
Django==4.0.4
django-crispy-forms==1.14.0
django-heroku==0.3.1
django-storages==1.12.3
gunicorn==20.1.0
idna==3.3
jmespath==1.0.0
Pillow==9.1.0
pip==22.0.4
psycopg2==2.9.3
pycparser==2.21
pyOpenSSL==22.0.0
PySocks==1.7.1
python-dateutil==2.8.2
s3transfer==0.5.2
setuptools==62.1.0
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.2.0
tzdata==2022.1
urllib3==1.26.9
wheel==0.37.1
whitenoise==6.1.0
win-inet-pton==1.1.0
